#container {
    display: flex;
    justify-content: space-between;

    aside{
        width: 95px;
    }

    main {
        width: calc(100% - 95px);

        #categories_wrapper{
            @import './movie_container';
        }

        #movies_wrapper{
            @import './movie_container';
        }
    }

    svg.small_icon {
        width: 20px;
        height: 20px;
        fill: rgba(8,28,36,.7);
    }
}