.movies_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;

    .movie_box{
        width: 20%;

        img{
            width: 100%;
        }
    }
}